@import "terminal.css";
@import "@catppuccin/palette/css/catppuccin.css";

:root {
  --background-color: var(--ctp-macchiato-base);
  --font-color: var(--ctp-macchiato-text);
  --invert-font-color: var(--ctp-macchiato-base);
  --primary-color: var(--ctp-macchiato-lavender);
  --secondary-color: var(--ctp-macchiato-blue);
  --error-color: var(--ctp-macchiato-red);
  --progress-bar-background: var(--ctp-macchiato-green);
  --progress-bar-fill: var(--ctp-macchiato-text);
  --code-bg-color: var(--ctp-macchiato-base);

  --font-stack: "JetBrains Mono", sans-serif;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.terminal-prompt::before {
  color: var(--ctp-macchiato-green);
  font-weight: bold;
}

.terminal-prompt::after {
  background-color: var(--ctp-macchiato-rosewater);
  width: 1ch;
}
