@import "@catppuccin/palette/css/catppuccin.css";

:root {
  --background-color: var(--ctp-macchiato-base);
  --font-color: var(--ctp-macchiato-text);
  --invert-font-color: var(--ctp-macchiato-base);
  --primary-color: var(--ctp-macchiato-lavender);
  --secondary-color: var(--ctp-macchiato-blue);
  --error-color: var(--ctp-macchiato-red);
  --progress-bar-background: var(--ctp-macchiato-green);
  --progress-bar-fill: var(--ctp-macchiato-text);
  --code-bg-color: var(--ctp-macchiato-base);
}

.terminal-prompt::before {
  color: var(--ctp-macchiato-green);
  font-family: 'JetBrains Mono', monospace;
}
